/* Small Screens 769px - 1024px */
@media screen  and (max-width: 1024px) {
  header .header {
    padding: 0 20px;
  }

  /* Animals Section */
  .animals-img-container img {
    width: 85%;
    object-fit: cover;
  }
}

/* Small Screens 521px - 1768px */
@media screen  and (max-width: 768px) {
  header .header {
    justify-content: space-around;
  }

  .search-container, .categories-list {
    display: none;
  }

  .nav-container {
    justify-content: end;
    padding: 0 20px;
  }

  .all-categories-list {
    width: 100%;
    top: 40px;
    right: 0;
    border: none;
  }

  /* Categories Section */
  .categories-section {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .categories-section .categories-container {
    width: 769px;
  }

  .categories-section::-webkit-scrollbar{
    height: 4px;
    width: 4px;
    background: gray;
  }

  .categories-section::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
 
  .categories-section::-webkit-scrollbar-thumb {
    background: #888; 
  }

  .categories-section::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .categories-section::-webkit-scrollbar-thumb:horizontal{
    background: #8158C5;
    border-radius: 10px;
}
}

/* Small Screens 521px */
@media screen  and (max-width: 521px) {


}